USE [db56c59f785d824175b90ea247011a1203]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 10/11/2013 4:16:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ApplicationUserApplicationUsers]    Script Date: 10/11/2013 4:16:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationUserApplicationUsers](
	[ApplicationUser_Id] [nvarchar](128) NOT NULL,
	[ApplicationUser_Id1] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.ApplicationUserApplicationUsers] PRIMARY KEY CLUSTERED 
(
	[ApplicationUser_Id] ASC,
	[ApplicationUser_Id1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ApplicationUserExercises]    Script Date: 10/11/2013 4:16:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationUserExercises](
	[ApplicationUser_Id] [nvarchar](128) NOT NULL,
	[Exercise_ExerciseId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ApplicationUserExercises] PRIMARY KEY CLUSTERED 
(
	[ApplicationUser_Id] ASC,
	[Exercise_ExerciseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ApplicationUserLessons]    Script Date: 10/11/2013 4:16:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationUserLessons](
	[ApplicationUser_Id] [nvarchar](128) NOT NULL,
	[Lesson_LessonId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ApplicationUserLessons] PRIMARY KEY CLUSTERED 
(
	[ApplicationUser_Id] ASC,
	[Lesson_LessonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ApplicationUserSkills]    Script Date: 10/11/2013 4:16:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationUserSkills](
	[ApplicationUser_Id] [nvarchar](128) NOT NULL,
	[Skill_SkillId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ApplicationUserSkills] PRIMARY KEY CLUSTERED 
(
	[ApplicationUser_Id] ASC,
	[Skill_SkillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 10/11/2013 4:16:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetTokens]    Script Date: 10/11/2013 4:16:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetTokens](
	[Id] [nvarchar](128) NOT NULL,
	[Value] [nvarchar](max) NULL,
	[ValidUntilUtc] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.AspNetTokens] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 10/11/2013 4:16:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Key] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 10/11/2013 4:16:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserManagement]    Script Date: 10/11/2013 4:16:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserManagement](
	[UserId] [nvarchar](128) NOT NULL,
	[DisableSignIn] [bit] NOT NULL,
	[LastSignInTimeUtc] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserManagement] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 10/11/2013 4:16:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[RoleId] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 10/11/2013 4:16:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Facebook] [nvarchar](max) NULL,
	[Discriminator] [nvarchar](128) NOT NULL,
	[IsConfirmed] [bit] NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserSecrets]    Script Date: 10/11/2013 4:16:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserSecrets](
	[UserName] [nvarchar](128) NOT NULL,
	[Secret] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserSecrets] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Exercises]    Script Date: 10/11/2013 4:16:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exercises](
	[ExerciseId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](600) NOT NULL,
	[Description] [ntext] NULL,
	[Order] [int] NOT NULL,
	[LessonId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Exercises] PRIMARY KEY CLUSTERED 
(
	[ExerciseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LessonLessons]    Script Date: 10/11/2013 4:16:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LessonLessons](
	[Lesson_LessonId] [int] NOT NULL,
	[Lesson_LessonId1] [int] NOT NULL,
 CONSTRAINT [PK_dbo.LessonLessons] PRIMARY KEY CLUSTERED 
(
	[Lesson_LessonId] ASC,
	[Lesson_LessonId1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Lessons]    Script Date: 10/11/2013 4:16:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lessons](
	[LessonId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](1000) NOT NULL,
	[Description] [ntext] NULL,
	[SkillId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Lessons] PRIMARY KEY CLUSTERED 
(
	[LessonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Questions]    Script Date: 10/11/2013 4:16:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[QuestionId] [int] IDENTITY(1,1) NOT NULL,
	[Statement] [nvarchar](3000) NOT NULL,
	[Order] [int] NOT NULL,
	[Points] [int] NOT NULL,
	[AnswerType] [nvarchar](max) NOT NULL,
	[AnswerContent] [nvarchar](2000) NULL,
	[ExerciseId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Questions] PRIMARY KEY CLUSTERED 
(
	[QuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Skills]    Script Date: 10/11/2013 4:16:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Skills](
	[SkillId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](600) NOT NULL,
	[Description] [ntext] NULL,
 CONSTRAINT [PK_dbo.Skills] PRIMARY KEY CLUSTERED 
(
	[SkillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[ApplicationUserExercises] ([ApplicationUser_Id], [Exercise_ExerciseId]) VALUES (N'3e476fac-9355-4e86-9e56-5b4d5cc076c4', 10)
INSERT [dbo].[ApplicationUserExercises] ([ApplicationUser_Id], [Exercise_ExerciseId]) VALUES (N'6d708f4b-53c7-4ae8-975f-a8972cfd2e25', 10)
INSERT [dbo].[ApplicationUserExercises] ([ApplicationUser_Id], [Exercise_ExerciseId]) VALUES (N'da109fe8-e87c-4aa5-838b-b8f4e586c23e', 10)
INSERT [dbo].[ApplicationUserLessons] ([ApplicationUser_Id], [Lesson_LessonId]) VALUES (N'fc143420-3ea3-45d4-8fa5-da081354951a', 1)
INSERT [dbo].[ApplicationUserLessons] ([ApplicationUser_Id], [Lesson_LessonId]) VALUES (N'fc143420-3ea3-45d4-8fa5-da081354951a', 2)
INSERT [dbo].[ApplicationUserLessons] ([ApplicationUser_Id], [Lesson_LessonId]) VALUES (N'3e476fac-9355-4e86-9e56-5b4d5cc076c4', 12)
INSERT [dbo].[ApplicationUserSkills] ([ApplicationUser_Id], [Skill_SkillId]) VALUES (N'3e476fac-9355-4e86-9e56-5b4d5cc076c4', 1)
INSERT [dbo].[ApplicationUserSkills] ([ApplicationUser_Id], [Skill_SkillId]) VALUES (N'da109fe8-e87c-4aa5-838b-b8f4e586c23e', 1)
INSERT [dbo].[ApplicationUserSkills] ([ApplicationUser_Id], [Skill_SkillId]) VALUES (N'4decdc9d-a871-45b5-9a96-a7e03e0197ef', 5)
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'1', N'admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'2', N'banned')
INSERT [dbo].[AspNetUserLogins] ([LoginProvider], [ProviderKey], [UserId]) VALUES (N'Local', N'ivanivan', N'06370a4f-9cc7-4802-94bb-74727881d958')
INSERT [dbo].[AspNetUserLogins] ([LoginProvider], [ProviderKey], [UserId]) VALUES (N'Local', N'fafafa', N'090d8a28-462c-4542-84d7-eb67a1773b9a')
INSERT [dbo].[AspNetUserLogins] ([LoginProvider], [ProviderKey], [UserId]) VALUES (N'Local', N'user', N'1a9e88ac-adb2-409b-8482-12e04d08b944')
INSERT [dbo].[AspNetUserManagement] ([UserId], [DisableSignIn], [LastSignInTimeUtc]) VALUES (N'06370a4f-9cc7-4802-94bb-74727881d958', 0, CAST(0x0000A24D00E1BE03 AS DateTime))
INSERT [dbo].[AspNetUserManagement] ([UserId], [DisableSignIn], [LastSignInTimeUtc]) VALUES (N'090d8a28-462c-4542-84d7-eb67a1773b9a', 0, CAST(0x0000A24D00DF691D AS DateTime))
INSERT [dbo].[AspNetUserManagement] ([UserId], [DisableSignIn], [LastSignInTimeUtc]) VALUES (N'1a9e88ac-adb2-409b-8482-12e04d08b944', 0, CAST(0x0000A2490183C823 AS DateTime))
INSERT [dbo].[AspNetUserRoles] ([RoleId], [UserId]) VALUES (N'1', N'6d708f4b-53c7-4ae8-975f-a8972cfd2e25')
INSERT [dbo].[AspNetUserRoles] ([RoleId], [UserId]) VALUES (N'2', N'b71abaac-a2ea-487c-9422-3568e4403931')
INSERT [dbo].[AspNetUserRoles] ([RoleId], [UserId]) VALUES (N'1', N'fc143420-3ea3-45d4-8fa5-da081354951a')
INSERT [dbo].[AspNetUsers] ([Id], [UserName], [Email], [Facebook], [Discriminator], [IsConfirmed]) VALUES (N'06370a4f-9cc7-4802-94bb-74727881d958', N'ivanivan', N'fert1@mail.bg', N'www.facebook.com/ivanivan', N'ApplicationUser', 1)
INSERT [dbo].[AspNetUsers] ([Id], [UserName], [Email], [Facebook], [Discriminator], [IsConfirmed]) VALUES (N'090d8a28-462c-4542-84d7-eb67a1773b9a', N'fafafa', N'georgi.ivanovtn@gmail.com', NULL, N'ApplicationUser', NULL)
INSERT [dbo].[AspNetUsers] ([Id], [UserName], [Email], [Facebook], [Discriminator], [IsConfirmed]) VALUES (N'1a9e88ac-adb2-409b-8482-12e04d08b944', N'user', N'velko.nikolov@gmail.com', N'http://www.facebook.com/staafl', N'ApplicationUser', 1)
INSERT [dbo].[AspNetUserSecrets] ([UserName], [Secret]) VALUES (N'admin', N'AGfZ4ZE/JHre5QhNfAbwNsToAH0TBKLdw6FL0RaMSXZZtHS1O/NuuZytvH0obNKeAw==')
INSERT [dbo].[AspNetUserSecrets] ([UserName], [Secret]) VALUES (N'asdfasdf', N'AGzbxcaMv7NTK7Dgm/OZL1+ZWd/xFpm2qSMzK+ikWoYLu6lyLMPjIAwhyLiytXgQAw==')
INSERT [dbo].[AspNetUserSecrets] ([UserName], [Secret]) VALUES (N'asdfasdfasdfasdf', N'AEVNumuAgQXbTx487kn8pcyx61mrofFPKazjeozgFGqbvOGoDKc+x2br91DaVuz3YQ==')
SET IDENTITY_INSERT [dbo].[Exercises] ON 

INSERT [dbo].[Exercises] ([ExerciseId], [Name], [Description], [Order], [LessonId]) VALUES (1, N'First steps', N'First step for a mushroom p...', 1, 4)
INSERT [dbo].[Exercises] ([ExerciseId], [Name], [Description], [Order], [LessonId]) VALUES (2, N'Second Exc', N'FUFUFUF fufaufuafuaw .', 2, 2)
INSERT [dbo].[Exercises] ([ExerciseId], [Name], [Description], [Order], [LessonId]) VALUES (3, N'THIRD exercise', N'Most important one.', 3, 2)
GO
SET IDENTITY_INSERT [dbo].[Exercises] OFF
INSERT [dbo].[LessonLessons] ([Lesson_LessonId], [Lesson_LessonId1]) VALUES (2, 1)
INSERT [dbo].[LessonLessons] ([Lesson_LessonId], [Lesson_LessonId1]) VALUES (3, 2)
INSERT [dbo].[LessonLessons] ([Lesson_LessonId], [Lesson_LessonId1]) VALUES (4, 3)
GO
SET IDENTITY_INSERT [dbo].[Lessons] ON 

INSERT [dbo].[Lessons] ([LessonId], [Name], [Description], [SkillId]) VALUES (1, N'Introduction', N'Learn basic programming con...', 20)
INSERT [dbo].[Lessons] ([LessonId], [Name], [Description], [SkillId]) VALUES (2, N'Go further', N'Very good description.', 1)
INSERT [dbo].[Lessons] ([LessonId], [Name], [Description], [SkillId]) VALUES (3, N'How To Do Total War', N'Drugs, not hugs.', 1)
GO
SET IDENTITY_INSERT [dbo].[Lessons] OFF
SET IDENTITY_INSERT [dbo].[Questions] ON 

INSERT [dbo].[Questions] ([QuestionId], [Statement], [Order], [Points], [AnswerType], [AnswerContent], [ExerciseId]) VALUES (1, N'mmmmmmm', 1, 10, N'0', N'nope', 1)
INSERT [dbo].[Questions] ([QuestionId], [Statement], [Order], [Points], [AnswerType], [AnswerContent], [ExerciseId]) VALUES (2, N'Do you want to pick mushrooms?', 4, 13, N'0', N'nope', 2)
INSERT [dbo].[Questions] ([QuestionId], [Statement], [Order], [Points], [AnswerType], [AnswerContent], [ExerciseId]) VALUES (3, N'How much do you want to pick mushrooms?', 3, 3, N'0', N'nope', 2)
GO
SET IDENTITY_INSERT [dbo].[Questions] OFF
SET IDENTITY_INSERT [dbo].[Skills] ON 

INSERT [dbo].[Skills] ([SkillId], [Name], [Description]) VALUES (1, N'Mushroom Picking TEST', N'Learn how to pick mushrooms...')
INSERT [dbo].[Skills] ([SkillId], [Name], [Description]) VALUES (4, N'fe dfs ffere134', N'ef sdf dgr esr sr dtgfrt dfg rf d')
INSERT [dbo].[Skills] ([SkillId], [Name], [Description]) VALUES (5, N'C# Part 2', N'Learn how to code in C# (arrays, methods and more)')
SET IDENTITY_INSERT [dbo].[Skills] OFF
ALTER TABLE [dbo].[ApplicationUserApplicationUsers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ApplicationUserApplicationUsers_dbo.AspNetUsers_ApplicationUser_Id] FOREIGN KEY([ApplicationUser_Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[ApplicationUserApplicationUsers] CHECK CONSTRAINT [FK_dbo.ApplicationUserApplicationUsers_dbo.AspNetUsers_ApplicationUser_Id]
GO
ALTER TABLE [dbo].[ApplicationUserApplicationUsers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ApplicationUserApplicationUsers_dbo.AspNetUsers_ApplicationUser_Id1] FOREIGN KEY([ApplicationUser_Id1])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[ApplicationUserApplicationUsers] CHECK CONSTRAINT [FK_dbo.ApplicationUserApplicationUsers_dbo.AspNetUsers_ApplicationUser_Id1]
GO
ALTER TABLE [dbo].[ApplicationUserExercises]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ApplicationUserExercises_dbo.AspNetUsers_ApplicationUser_Id] FOREIGN KEY([ApplicationUser_Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ApplicationUserExercises] CHECK CONSTRAINT [FK_dbo.ApplicationUserExercises_dbo.AspNetUsers_ApplicationUser_Id]
GO
ALTER TABLE [dbo].[ApplicationUserExercises]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ApplicationUserExercises_dbo.Exercises_Exercise_ExerciseId] FOREIGN KEY([Exercise_ExerciseId])
REFERENCES [dbo].[Exercises] ([ExerciseId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ApplicationUserExercises] CHECK CONSTRAINT [FK_dbo.ApplicationUserExercises_dbo.Exercises_Exercise_ExerciseId]
GO
ALTER TABLE [dbo].[ApplicationUserLessons]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ApplicationUserLessons_dbo.AspNetUsers_ApplicationUser_Id] FOREIGN KEY([ApplicationUser_Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ApplicationUserLessons] CHECK CONSTRAINT [FK_dbo.ApplicationUserLessons_dbo.AspNetUsers_ApplicationUser_Id]
GO
ALTER TABLE [dbo].[ApplicationUserLessons]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ApplicationUserLessons_dbo.Lessons_Lesson_LessonId] FOREIGN KEY([Lesson_LessonId])
REFERENCES [dbo].[Lessons] ([LessonId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ApplicationUserLessons] CHECK CONSTRAINT [FK_dbo.ApplicationUserLessons_dbo.Lessons_Lesson_LessonId]
GO
ALTER TABLE [dbo].[ApplicationUserSkills]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ApplicationUserSkills_dbo.AspNetUsers_ApplicationUser_Id] FOREIGN KEY([ApplicationUser_Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ApplicationUserSkills] CHECK CONSTRAINT [FK_dbo.ApplicationUserSkills_dbo.AspNetUsers_ApplicationUser_Id]
GO
ALTER TABLE [dbo].[ApplicationUserSkills]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ApplicationUserSkills_dbo.Skills_Skill_SkillId] FOREIGN KEY([Skill_SkillId])
REFERENCES [dbo].[Skills] ([SkillId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ApplicationUserSkills] CHECK CONSTRAINT [FK_dbo.ApplicationUserSkills_dbo.Skills_Skill_SkillId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserManagement]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserManagement_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserManagement] CHECK CONSTRAINT [FK_dbo.AspNetUserManagement_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Exercises]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Exercises_dbo.Lessons_LessonId] FOREIGN KEY([LessonId])
REFERENCES [dbo].[Lessons] ([LessonId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Exercises] CHECK CONSTRAINT [FK_dbo.Exercises_dbo.Lessons_LessonId]
GO
ALTER TABLE [dbo].[LessonLessons]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LessonLessons_dbo.Lessons_Lesson_LessonId] FOREIGN KEY([Lesson_LessonId])
REFERENCES [dbo].[Lessons] ([LessonId])
GO
ALTER TABLE [dbo].[LessonLessons] CHECK CONSTRAINT [FK_dbo.LessonLessons_dbo.Lessons_Lesson_LessonId]
GO
ALTER TABLE [dbo].[LessonLessons]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LessonLessons_dbo.Lessons_Lesson_LessonId1] FOREIGN KEY([Lesson_LessonId1])
REFERENCES [dbo].[Lessons] ([LessonId])
GO
ALTER TABLE [dbo].[LessonLessons] CHECK CONSTRAINT [FK_dbo.LessonLessons_dbo.Lessons_Lesson_LessonId1]
GO
ALTER TABLE [dbo].[Lessons]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Lessons_dbo.Skills_SkillId] FOREIGN KEY([SkillId])
REFERENCES [dbo].[Skills] ([SkillId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Lessons] CHECK CONSTRAINT [FK_dbo.Lessons_dbo.Skills_SkillId]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Questions_dbo.Exercises_ExerciseId] FOREIGN KEY([ExerciseId])
REFERENCES [dbo].[Exercises] ([ExerciseId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_dbo.Questions_dbo.Exercises_ExerciseId]
GO
