@model IEnumerable<LearningSystem.App.ViewModels.SkillViewModel>

@foreach (var item in Model)
{
    <h4>
        @if (!item.OwnedByUser)
        {
           @Ajax.ActionLink("Sign Up", "SignUpForSkill", "Skill", new { skillId = item.SkillId }, new AjaxOptions()
           {
               HttpMethod = "GET",

               InsertionMode = InsertionMode.Replace,
               UpdateTargetId = "signup-message"
           }, new { @class = "signup-skill" })
        }
        <span class="label label-info skill-label" data-toggle="tooltip" data-placement="right"
              title="@item.SkillDescription">

            @item.SkillName
        </span>
    </h4>
}

<script>
    $(document).ready(function () {
        $(".skill-label").tooltip();
    });

</script>