@model IEnumerable<LearningSystem.App.ViewModels.SkillViewModel>

@foreach (var item in Model)
{
    <h4>
        @Ajax.ActionLink("Sign Up", "SignUpForSkill", "Skill", new { skillId = item.SkillId }, new AjaxOptions()
       {
           HttpMethod = "GET",

           InsertionMode = InsertionMode.Replace,
           UpdateTargetId = "signup-message"
       })
        <span class="label label-info skill-label" data-toggle="tooltip" data-placement="right"
              title="@item.SkillDescription">

            @item.SkillName
        </span>
    </h4>
}
<div id=""></div>

<script>
    $(document).ready(function () {
        $(".skill-label").tooltip();
    });

</script>