@{
    ViewBag.Title = "About";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>
<div class="row-fluid">
    <div class="hero-unit">
        <p>
            This is a system for teaching you how to program.
        </p>
        <div class="span2">
            <p class="lead">@ViewBag.Name</p>
        </div>
    </div>
    
</div>