@{
    ViewBag.Title = "About";
}
<p><strong>LearningSystem</strong>: a web platform for structured learning of skills.</p>

<p>Built with all the love in the world by <strong>Team Azure Dragon</strong> at Telerik Academy.</p>

<p>Development Team:</p>
<ul>
    <li>AsenVal</li>
    <li>FeRt1</li>
    <li>Hel Veliki</li>
    <li>staafl</li>
</ul>

<p>Version: @ViewBag.Version</p>
