@{
    ViewBag.Title = "Home Page";  
}

<div class="upload-skill">
    @(Html.Kendo().Upload()
    .Name("skills-uploader")
    .Async(async => async.Save("SaveSkill", "Home"))
    )
</div>

<div>
    filler
</div>
<div>
    filler
</div>
<div>
    filler
</div>
<div>
    filler
</div>
<div>
    filler
</div>
<div>
    filler
</div>
<div>
    filler
</div>
<div>
    filler
</div>
<div>
    filler
</div>
<div>
    filler
</div>
<div>
    filler
</div>
<div>
    filler
</div>
<div>
    filler
</div>
<div>
    filler
</div>
<div>
    filler
</div>
<div>
    filler
</div>
<div>
    filler
</div>
<div>
    filler
</div>
<div>
    filler
</div>
<div>
    filler
</div>
<div>
    filler
</div>
<div>
    filler
</div>
<div>
    filler
</div>
<div>
    filler
</div>
<div>
    filler
</div>
<div>
    filler
</div>
<div>
    filler
</div>
<div>
    filler
</div>
<div>
    filler
</div>
<div>
    filler
</div>
<div>
    filler
</div>
<div>
    filler
</div>
<div>
    filler
</div>
<div>
    filler
</div>
<div>
    filler
</div>
<div>
    filler
</div>
<div>
    filler
</div>
<div>
    filler
</div>
<div>
    filler
</div>
<div>
    filler
</div>
<div>
    filler
</div>
<div>
    filler
</div>
<div>
    filler
</div>
<div>
    filler
</div>
<div>
    filler
</div>
<div>
    filler
</div>
<div>
    filler
</div>
<div>
    filler
</div>
<div>
    filler
</div>
<div>
    filler
</div>
<div>
    filler
</div>
<div>
    filler
</div>
<div>
    filler
</div>
<div>
    filler
</div>
