@model LearningSystem.App.ViewModels.SearchViewModel

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

<div class="span12">

    @{AjaxOptions options = new AjaxOptions()
      {
          HttpMethod = "POST",
          OnBegin = "BeforeLoad",
          InsertionMode = InsertionMode.Replace,
          UpdateTargetId = "search-result"
      };
    }

    <div class="input-group">
        @using (Ajax.BeginForm(options))
        {
            <i class="icon-large icon-search"></i>
            <div class="btn-group ">
                @Html.TextBoxFor(Model => Model.Query, new { id = "search-input" })
                <button type="submit" class="btn">Search</button>
            </div>
        }
    </div>
        <div id="search-result">

        </div>
    </div>

    <script>
        function BeforeLoad(e) {
            var a = 5;
        }
    </script>

