<h2>Test failed!</h2>
<h4> You've reached the maximum allowed errors for this exercise </h4> 

<img src='~/img/failed.jpg' alt='Exercise failed' />
<br />

@Html.ActionLink("Back to the lesson", "BackToLesson", new { exId = ViewBag.ExId })