
@{
    ViewBag.Title = "Under Construction";
}

<h2>@ViewBag.Title</h2>

<h4>This exercise has no questions yet!</h4>

<div>
    Please excuse us!
    <br /> 
    This is a new exercise and we're working hard to finish it as soon as possible.
</div>

