@model LearningSystem.App.ViewModels.QuestionViewModel

@Html.Hidden("questionId", Model.QuestionId)

@Html.Raw(Model.Statement)

<div id="user-input-container">
    @Html.Raw(Model.InputHtml)
</div>

<a id="submit" href="#">Check Answer</a>
