@model IEnumerable<LearningSystem.App.ViewModels.SkillViewModel>

@{
    ViewBag.Title = "My Achievements";
}

<h2>@ViewBag.Title</h2>

@if (Model.Any())
{
    <h3>My Skills</h3>

    <div class="text-center">

        @foreach (var item in Model)
        {
        <a href="/Skill/Index?skillId=@item.SkillId" title="@item.SkillDescription" class="skill-container btn btn-lg"
           data-toggle="tooltip" data-placement="bottom">
            @if (item.CompletePercent == 100)
            {
                <img src="~/img/course-completed.jpg" alt="Not finished" />
            }
            else
            {
                <img src="~/img/course-not-finished.jpg" alt="Not finished" />
            }

            @Html.DisplayFor(modelItem => item.SkillName) -
            @item.CompletePercent%
        </a>

        }

    </div>
}
else
{
    <h3>You don't have any completed skills. Go to our skills page and improve your qualities!</h3>
}


<script>
    $(document).ready(function () {
        $(".skill-container").tooltip();
    });

</script>
