@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-form pull-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav">
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Manage", "Account",
                 new { area = "", title = "Manage" }, null)
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>

    }
}
else
{
    <ul class="nav pull-right">
        <li>@Html.ActionLink("Log in / Register", "Index", "Splash", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    </ul>
}