@model LearningSystem.App.ViewModels.SkillViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="row-fluid">
    @foreach (var group in Model.Lessons)
    {
        <div class="row-fluid">

            @foreach (var item in group)
	        {
                <button class="btn btn-info">@item.Name</button>
	        }

        </div>
    }
</div>
<br/>