body {
    padding-top: 60px;
    padding-bottom: 40px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* styles for removing the background from form */
.no-color {
    background-color: white;
    border-style: none;
}

.errorContainer img {
    /*position: relative;
    left: 45%;*/
}

.errorContainer {
    width:900px;
    margin: 0 auto;
    text-align: center;
    /*display: inline-block;*/
}
    .errorContainer div {
        width: 600px;
        margin: 0 auto;
    }

#moreInfo {
    width: 900px;
}


#btn-moreInfo {
    margin-right: 20px;
}

/*.errorContainer {
    background-image: url(/img/Azure_Dragon.jpg);
    background-repeat: no-repeat;
    background-color:rgba(255,255,255,0.5);
    background-position:top;
}*/


/* Splash page beginning*/
#splash-wrapper {
    /*text-align: center;*/
    padding-top: 300px;
    background-image: url("../img/dragon-bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

#splash-wrapper hgroup {
    margin: 20px;
}

#splash-wrapper a {
    font-size: 2.6rem;
    margin-left: 20px;
}

#login-form-menu {
    padding: 20px;
}

#kendo-menu-holder {
    display: inline-block;
}

/* Splash page end*/

/**/
.lesson-row {
    margin-top:20px;
}

.lesson {
    

}

#search-input {
    margin-bottom: 0px;
}

.skill-label {
    padding:8px;
}
/**/