body {
    padding-top: 60px;
    padding-bottom: 40px;
    background-image: url("../img/main-bg-dragon.jpg");
    background-repeat: repeat-y;
    background-size: 100% auto;
}

.main-container {
    background-color: rgba(255, 255, 224, 0.8);
    border-radius: 5px;
    padding: 10px;
}

.extra-margin-top {
    margin-top: 45px;
}

.search-skill-holder {
    margin: 10px;
    margin-left: 100px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* styles for removing the background from form */
.no-color {
    background-color: white;
    border-style: none;
}

.errorContainer img {
    /*position: relative;
    left: 45%;*/
}

.errorContainer {
    width:900px;
    margin: 0 auto;
    text-align: center;
    /*display: inline-block;*/
}
    .errorContainer div {
        width: 600px;
        margin: 0 auto;
    }

#moreInfo {
    width: 900px;
}


#btn-moreInfo {
    margin-right: 20px;
}

/*.errorContainer {
    background-image: url(/img/Azure_Dragon.jpg);
    background-repeat: no-repeat;
    background-color:rgba(255,255,255,0.5);
    background-position:top;
}*/


/* Splash page beginning*/
#splash-wrapper {
    /*text-align: center;*/
    padding-top: 300px;
    background-image: url("../img/dragon-bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

#splash-wrapper hgroup {
    margin: 20px;
}

#splash-wrapper a {
    font-size: 2.6rem;
    margin-left: 20px;
}

#login-form-menu {
    padding: 20px;
}

#kendo-menu-holder {
    display: inline-block;
}

/* Splash page end*/

/* Skills/Achievements page beginning */
.skill-container {
    padding: 10px;
    margin: 20px;

    color: black;
    font-weight: bold;
    font-size: 1.5rem;
}

.skill-container:hover {
    border-color: burlywood;
}

.skill-container img {
    border-radius: 5px;
}

.skill-container:hover {
    text-decoration: none;
}
/* Skills/Achievements page end */

/* Questions page beginning */
#question-count, #wrong-questions {
    padding: 10px;
    font-size: 1.2rem;
    color: darkcyan
}
/*Questions page end*/

.navigation {

}


/**/
.lesson-row {
    margin-top:20px;
}

.lesson {
    

}

.absolute {
    position:absolute;
}

.preview-link {
    color:white;
}

#search-input {
    margin-top: 15px;
    margin-left:15px;
}

.skill-label {
    padding:8px;
}

.signup-skill {
    margin-top:6px;
    text-decoration:underline;
    color:white;
}

/**/