@using TeamAzureDragon.Utils;

@{
    ViewBag.Title = "Index";
}

<h2>Skills</h2>

@(Html.Kendo().Grid<LearningSystem.Models.Skill>()
.Name("Grid")
.Columns(columns =>
    {
        columns.Bound(b => b.Name);
        columns.Bound(b => b.Description);
        columns.Command(commands =>
        {
            commands.Edit();
            commands.Destroy();
        }).Title("Commands").Width(200);
    })
.ToolBar(toolbar => toolbar.Create())
.Editable(editable => editable.Mode(GridEditMode.InLine))
.DataSource(datasource => datasource
.Ajax()
.Model(model =>
{
    model.Id(skill => skill.SkillId);
    model.Field(skill => skill.SkillId).Editable(false);
})
.ServerOperation(false)
.Read(read => read.Action("Read", "Skill"))
    .Create(create => create.Action("Create", "Skill"))
    .Update(update => update.Action("Edit", "Skill"))
    .Destroy(destroy => destroy.Action("Delete", "Skill"))
)
.Pageable()
.Sortable()
)


